<!-- <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=802578830668874&autoLogAppEvents=1" nonce="Okm0q5PF"></script>
<div class="fb-comments" data-href="https://digitalavenue.dev/{{ page.url }}" data-width="" data-numposts="5"></div> -->

<section class="comments">
    <h3>{{ site.translations.text.comments | default: "Any Comments ?" }}</h3>
    <div class="fb-comments" data-href="https://digitalavenue.dev/{{ page.url }}" data-width="" data-numposts="10"></div>
</section>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=802578830668874&autoLogAppEvents=1" nonce="Okm0q5PF"></script>


<!-- <div class="comments">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=802578830668874&autoLogAppEvents=1" nonce="Okm0q5PF"></script>
<div class="fb-comments" data-href="https://digitalavenue.dev/{{ page.url }}" data-width="" data-numposts="5"></div>
</div> -->