<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=802578830668874&autoLogAppEvents=1" nonce="VeeZ0IT5"></script>

<div class="fb-like" data-href="https://www.facebook.com/digitalavenuelk" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>

<style>
    .fb-like {
    margin: auto;
    /* width: 80%; */
    /* border: 3px solid green; */
    text-align: center;
    /* padding: 10px; */
  }
</style>