<section class="share">
    <h3>{{ site.translations.text.share | default: "Share" }}</h3>
    <a aria-label="{{ site.translations.button.share_on_twitter | default: 'Share on Twitter' }}" href="https://twitter.com/intent/tweet?text=&quot;{{ page.description }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="{{ site.translations.button.share_on_twitter | default: 'Share on Twitter' }}">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <a aria-label="{{ site.translations.button.share_on_facebook | default: 'Share on Facebook' }}" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="{{ site.translations.button.share_on_facebook | default: 'Share on Facebook' }}">
        <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    </a>

    <a aria-label="{{ site.translations.button.share_on_linkedin | default: 'Share on Linkedin' }}" href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'linkedin-share','width=580,height=296');return false;" title="{{ site.translations.button.share_on_linkedin | default: 'Share on Linkedin' }}">
        <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
    </a>

    <a aria-label="{{ site.translations.button.share_on_whatsapp | default: 'Share on Whatsapp' }}" href="https://api.whatsapp.com/send?text={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'whatsapp-share','width=580,height=296');return false;" title="{{ site.translations.button.share_on_whatsapp | default: 'Share on Whatsapp' }}">
        <svg class="icon icon-whatsapp"><use xlink:href="#icon-whatsapp"></use></svg>
    </a>

    <a aria-label="{{ site.translations.button.share_on_reddit | default: 'Share on Reddit' }}" href="https://www.reddit.com/submit?title={{page.title}}&url={{site.url}}{{page.url}}"
    onclick="window.open(this.href, 'reddit-share','width=580,height=296');return false;" title="{{ site.translations.button.share_on_reddit | default: 'Share on Reddit' }}">
        <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
    </a>

    <a aria-label="{{ site.translations.button.share_on_telegram | default: 'Share on Telegram' }}" href="https://t.me/share/url?url={{site.url}}{{page.url}}"
    onclick="window.open(this.href, 'telegram-share','width=580,height=296');return false;" title="{{ site.translations.button.share_on_telegram | default: 'Share on Telegram' }}">
        <svg class="icon icon-telegram"><use xlink:href="#icon-telegram"></use></svg>
    </a>

    <a aria-label="{{ site.translations.button.share_on_gmail| default: 'Share on Gmail' }}" href="mailto:?subject=TechMobie {{page.title}} Post&body={{site.url}}{{page.url}}"
    onclick="window.open(this.href, 'telegram-share','width=580,height=296');return false;" title="{{ site.translations.button.share_on_gmail | default: 'Share on Gmail' }}">
        <svg class="icon icon-gmail"><use xlink:href="#icon-gmail"></use></svg>
    </a>
    
</section>
