    <!-- Get Your Channel ID Here https://www.youtube.com/account_advanced-->
    <!-- <script src="https://apis.google.com/js/platform.js"></script>

    <div class="g-ytsubscribe" data-channelid="UCovlVsoRVItner26ZJPBjmQ" data-layout="default" data-count="default"></div> -->
    <script src="https://apis.google.com/js/platform.js"></script>

    <div class="g-ytsubscribe" data-channelid="UCovlVsoRVItner26ZJPBjmQ" data-layout="full" data-count="default"></div>
    <!-- Get Your Channel ID Here https://www.youtube.com/account_advanced-->