---
---
@import "jekflix";

// Resize Content Two Columns 
@media (min-width: 0.5rem) {
    .post.two-columns {
      max-width: 90rem;
    }
  }
  
  .post-content {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    iframe {
      max-width: 90%;
      display: flow-root;

    }
  }

// Resize Content See Also
@media (min-width: 0.5rem) {
    .see-also {
        flex-basis: 30%;
    }
  }
