<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% if page.url == '/' %}
    {% assign class = 'body-post' %}
  <body class="{{ class }}">
  {% endif %}
  
    {% if site.google-analytics %}
      {% include google-analytics.html %}
    {% endif %}

    <div class="full-page-container">
      <div class="overlay"></div>
      {% include header.html %}
      {% include search.html %}
      
        {{ content }}
      {% include scroll-top.html %}
      {% include footer.html %}
    </div> <!-- /.full-page-container -->

    {% include javascripts.html %}

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d3436f0a130177e"></script>
    
  </body>

</html>
